@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 10%;

  transition: background 0.5s linear, color 0.5s linear;
}

body.dark {
  background-color: #1f1f1f;
  color: antiquewhite;
}
body.dark label {
  background-color: antiquewhite;
}
.toggle-container {
  position: fixed;
  top: 1%;
  right: 1%;
}

label {
  display: inline-block;
  background-color: rebeccapurple;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  transition: background 0.5s linear;
}

input {
  visibility: hidden;
}
